#h1{
	font-size: 50px;
	color: red;
	text-align: center;
}
.every{
	font-size: 1.5rem;
}
#bio{
	color: red;
	text-align: center;
}
#project{
	color: red;
	text-align: center;
}
#Undertale{
	color: red;
}
#Deltarune{
	color: red;
}
#music{
	text-align: center;
	color: red;
}
#music1{
	color: red;
}
#music2{
	color: red;
}
#music3{
	color: red;
}
#music4{
	color: red;
}
#music5{
	color: red;
}
body {
      padding: 20px;
      background: linear-gradient(
          rgba(255, 255, 255, 0.6),
          rgba(255, 255, 255, 0.6)
        ),
        url(images/menu.png) center/cover fixed;
    }

